<h2> Genres Names</h2>

<% genres.forEach(genre => {
    %> <div style="margin: 10px;"><%= genre.name %></div>
    <button style="margin-right: 5px;" type="submit">Edit</button>
    <button type="submit">Delete</button><br>
<% }) %>
