<h2>New Books</h2>

<form action="/books" method="post">
    <Label>Title</Label>
   <input style="margin: 10px;" type="text" name="title">
   <br style="margin: 10px;">
   <label >Author</label>
   <input style="margin: 10px;" type="text" name="author">
   <br>
   <Label>Genre</Label>
   <input style="margin: 10px;" type="text" name="genre">
   <br>
   <Label>Description</Label>
   <input style="margin: 10px;" type="textbox" name="summary">
   <br>

    <button type="submit">Add</button>
    <a href="/books">Cancel</a>



</form>