<h2>New Books</h2>

<form action="/books" method="post">
    <Label>Title</Label>
   <input style="margin: 10px;" type="text" name="title">
   <br style="margin: 10px;">
   <label >Author</label>
   <select style="margin: 10px;" name="author">
       <option value="Ralph">Ralph</option>
   </select>
   <br>
   <Label>Genre</Label>
   <input style="margin: 10px;" type="text" name="genre">
   <br>

    <button type="submit">Add</button>
    <a href="/books">Cancel</a>



</form>