<h2> Author Names</h2>

<% authors.forEach(author => {
    %> <div style="margin: 10px;"><%= author.name %></div>
    <button style="margin-right: 5px;" type="submit">Edit</button>
    <button type="submit">Delete</button><br>
<% }) %>