<h2> Author Names</h2>

<% authors.forEach(author => {
    %> <div style="margin: 10px;"><%= author.name %></div>
    <a href="/authors/<%= author.id %>">View</a>
    <a href="/authors/<%= author.id %>/edit">Edit</a>
    <form method="post" action="/authors/<%= author.id %>?_method=DELETE">
        <button type="submit">Delete</button>
        
    </form>
<% }) %>